[Desktop Entry]
Name=CZAR Bootloader
Comment=Firmware Update Application for CZAR Displays
Exec=/home/czar/app/python_bootloader/dist/czar_bootloader/czar_bootloader
Icon=/home/czar/app/python_bootloader/dist/czar_bootloader/_internal/czar.png
Terminal=false
Type=Application
Categories=Utility;Development;
StartupNotify=true
