[Desktop Entry]
Name=CZAR Bootloader
Comment=Firmware Update Application for CZAR Displays
Exec=/home/czar/app/python_bootloader/czar_launcher.sh
Icon=/home/czar/app/python_bootloader/czar.png
Terminal=false
Type=Application
Categories=Utility;Development;
StartupNotify=true
